<div *ngIf="isLoading" class="loader-overlay">
    <div class="loader"></div>
</div>
<div class="content-section">
    <div class="row tittle">
        <div class="top col-md-5 align-self-center">
            <h5>Tax Detsils(INR)</h5>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Tax Detsils</li>
            </ol>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tax</th>
                                <th>Percentage</th>
                                <!-- <th>Status</th> -->
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- List of saved rows -->
                            <tr *ngFor="let tax of taxList; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ tax.tax }}</td>
                                <td>{{ tax.percentage }}%</td>
                                <!-- <td>{{ tax.status === 1 ? 'Active' : 'Inactive' }}</td> -->
                                <td>
                                    <a class="btn btn-primary" (click)="editTaxDetails(i)">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-danger" (click)="deleteTaxdetsils(i)">
                                        <i class="fa fa-trash-alt" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="12" style="background: #dfeef6;color: #2D3B48;">New Tax Record</td>
                            </tr>
                            <tr *ngFor="let row of rows; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>
                                    <input type="text" [(ngModel)]="row.tax" class="form-control" />
                                    <div *ngIf="row.errors?.tax" class="text-danger small">{{ row.errors.tax }}</div>
                                </td>
                                <td>
                                    <input type="number" [(ngModel)]="row.percentage" class="form-control" />
                                    <div *ngIf="row.errors?.percentage" class="text-danger small">{{ row.errors.percentage }}
                                    </div>
                                </td>
                                <!-- <td>
                                    <select [(ngModel)]="row.status" class="form-control">
                                        <option value="" disabled>Select Status</option>
                                        <option value="1">Active</option>
                                        <option value="2">Inactive</option>
                                    </select>
                                    <div *ngIf="row.errors?.status" class="text-danger small">{{ row.errors.status
                                        }}</div>
                                </td> -->
                                <td>
                                    <button *ngIf="!isEditMode && rows.length > 1" class="btn btn-danger btn-sm me-1"
                                        (click)="removeRow(i)">
                                        -
                                    </button>
                                    <button *ngIf="!isEditMode && i === rows.length - 1" class="btn btn-success btn-sm"
                                        (click)="addRow()">
                                        +
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="rps-btn text-end">
                        <button *ngIf="!isEditMode" class="btn btn-primary" (click)="saveTax()">Save</button>
                        <button *ngIf="isEditMode" class="btn btn-warning" (click)="updateTax()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>